*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;

}


body{
    background-color: hsl(218, 22%, 90%);
    width: 375px;
}

h1, h2, h3,{
    font-weight: 0;
    font-size: 1.rem;
}

.wrapper{
    width: 100%;
    height: 100%;
}


.top-content{
    background: white;
    width: 19rem;
    height: 17rem;
    padding: 2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

}

.top-content h1{
    font-size: 1.2rem;
    color: hsl(179, 62%, 43%);
}

.top-content h2{
    margin-top: 1rem;
    color: hsl(71, 73%, 54%);
    font-size: 1rem;
}

.top-content p{
   color: hsl(218, 22%, 67%);
   font-size: 0.9rem;
   margin-top: 1rem; 
   line-height: 1.7;
}

.wrap{
    width: 50rem;
}

.middle-content{
    background: hsl(179, 62%, 43%);
    width: 19rem;
    height: 15rem;
    padding: 1rem;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translateX(-50%);

}

.middle-content h1{
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.middle-content h2{
    color: white;
    margin-top: 0.9rem; 
    font-size: 2rem;
}

.middle-content span{
    color: hsl(179, 63%, 60%);
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
    display: inline-block;
}

.middle-content p{
    color: white;
    margin-bottom: 1rem;
}

.button{
    margin-top: 1.5rem;
    margin-left: 0.1rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    background: hsl(71, 73%, 54%);
    border-radius: 0.4rem;
    padding: 1em 3em;
    width: 100%;
    text-align: center; 
    font-weight: bold;
    transition: background 0.3s linear; 
}

.button:hover{
    background: hsl(71, 50%, 54%);
}



.end-content{
    background: hsl(179, 80%, 43%);
    width: 19rem;
    height: 15rem;
    padding: 1rem;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translateX(-50%);
}

.end-content h1{
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

}

.end-content p{
    color: white;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    line-height: 1;
}


@media (min-width: 550px){
    
    .top-content{;
        width: 50rem;
        height: 17rem;
        padding: 2rem;
        top: 10%;
        left: 50%;
        
    }


    .middle-content{
        width: 25.3rem;
        height: 15rem;
        padding: 1rem;
        top: 39%;
        left: 38%;
        transform: translate(-38% -39%)
    
    }


    .end-content{
        width: 25.3rem;
        height: 15rem;
        padding: 1rem;
        position: absolute;
        top: 39%;
        left: 62%;
        transform: translate(-62% -39%)
    }


}